@inject L L
<!DOCTYPE html>
<html lang="@L.Lang" dir="@L.Dir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>ACommerce Platform V1</title>
    <link rel="stylesheet" href="_content/ACommerce.Templates.Customer.Marketplace/css/widgets.css" />
    <link rel="stylesheet" href="_content/ACommerce.Templates.Customer.Marketplace/css/app.css" />
    <link rel="stylesheet" href="_content/ACommerce.Templates.Customer.Marketplace/css/site.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
