@inject L L
<!DOCTYPE html>
<html lang="@L.Lang" dir="@L.Dir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>ACommerce Platform V1</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" />

    <link rel="stylesheet" href="_content/ACommerce.Templates.Customer.Marketplace/css/widgets.css" />
    <link rel="stylesheet" href="_content/ACommerce.Templates.Customer.Marketplace/css/templates-shared.css" />
    <link rel="stylesheet" href="_content/ACommerce.Templates.Customer.Marketplace/css/templates-marketplace.css" />
    <link rel="stylesheet" href="_content/ACommerce.Templates.Customer.Marketplace/css/app.css" />
    <link rel="stylesheet" href="_content/ACommerce.Templates.Customer.Marketplace/css/site.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
